<!-- Font Styles -->
<style>
    @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lato&family=Nunito:wght@500&family=Righteous&display=swap');
    </style>

<!-- Navigation -->
<mat-toolbar color="primary">
    <mat-icon>tips_and_updates</mat-icon>&nbsp;
    <h1>{{ title }}</h1>
    <span class="spacer"></span>
    <span class="header-buttons">
        <button mat-flat-button color="primary" routerLink="/">HOME</button> &nbsp;
        <button mat-flat-button color="primary" routerLink="/about">ABOUT</button> &nbsp;
        <button mat-flat-button color="primary" routerLink="/finder">FINDER</button>
    </span>
    <button mat-mini-fab color="primary" class="mat-elevation-z0">
        <mat-icon>settings</mat-icon>
    </button>
</mat-toolbar>