mat-toolbar {
    height: 100%;
    background-color: #eeeeee;
    border-bottom: 1px solid #323232;
}

mat-icon {
  color: white;
}

button {
  background-color: #eeeeee;
  color: #323232;
}

a {
    font-family: 'Righteous', cursive;
    font-size: 22px;
    color: #323232;
    margin-left: 25px;
}

a:link {
  text-decoration: none;
}

/*img {*/
/*    width: 30px;*/
/*    height: auto;*/
/*    filter: invert(100%);*/
/*    fill:white;*/
/*}*/

.spacer {
    flex: 1 1 auto;
}

.header-buttons {
    margin: 8px 8px 8px 0;
}

button:hover, .mat-elevation-z0:hover {
    background-color: rgba(0,0,0,0.5);
}
