mat-toolbar {
    height: 100%;
    background-color: #283593;
}

mat-icon {
  color: white;
}

button {
  background-color: #283593;
  color: white;
}

h1 {
    font-family: 'Righteous', cursive;
    font-size: 20px;
    color: white;
}

img {
    width: 30px;
    height: auto;
    filter: invert(100%);
    fill:white;
}

.spacer {
    flex: 1 1 auto;
}

.header-buttons {
    margin: 8px 8px 8px 0;
}

button:hover, .mat-elevation-z0:hover {
    background-color: rgba(0,0,0,0.5);
}
