/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lato&family=Nunito:wght@500&display=swap');

html, body { height: 100%; }

body { margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    background-attachment: fixed;
}

#container {
    height: 100%;
}

#insideDiv {
    overflow-y: auto;
}

.container_row {
    display: grid;
}
.navigation-layer {
    grid-column: 1;
    grid-row: 1;
}
.content-layer {
    grid-column: 1;
    grid-row: 1;
    z-index: -1;
}
